<form class="src-form" #srcForm="ngForm" novalidate>
  <div class="container">

    <div *ngFor="let app of apps">

      <div class="row">
        <div class="col-md-12">Input/Paste your model classes in Django Format:</div>
        <textarea id="source" name="source" [(ngModel)]="app.source" (ngModelChange)="convert($event)"></textarea>
      </div>

      <div class="row">
        <div class="col-md-12 file" (click)=toggleTextarea(app.model)><a>{{app.model.file}}</a></div>
        <textarea *ngIf="app.model.expanded" class="result-block" name="model" [(ngModel)]="app.model.content"></textarea>
      </div>

      <div class="row">
        <div class="col-md-12 file" (click)=toggleTextarea(app.service)><a>{{app.service.file}}</a></div>
        <textarea *ngIf="app.service.expanded" class="result-block" name="service" [(ngModel)]="app.service.content"></textarea>
      </div>

      <div class="row" *ngFor="let cls of app.classes">
        <div class="col-md-12" *ngFor="let c of cls.components">
          <div class="col-md-12 file" *ngFor="let f of c.files">
            <div class="col-md-12" (click)=toggleTextarea(f)><a>{{app.name}}/{{c.name}}/{{f.name}}</a></div>
            <textarea *ngIf="f.expanded" class="result-block" name="{{f.name}}" [(ngModel)]="f.content"></textarea>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div style="width:100%;height:40px;float:left;">
    <button (click)="convert()">Submit</button>
  </div>
</form>